---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article>
  <header>
      <h1>{{ title }}</h1> 
      <h2 class="published">
          <time class="dt-published" datetime="{{ page.date | dateFormatMachine }}">
              <span class="date-day">{{ page.date.getDate() }}</span> 
              <span class="date-month">{{ page.date.toLocaleString('default', { month: 'long' }) }}</span>, 
              <span class="date-year">{{ page.date.getFullYear() }}</span>
          </time>
      </h2>
  </header>
  {{ content | safe }} 

  <hr>
  <p>Tagged: 
    {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {%- endfor %}
  </p>

  {%- if collections.posts %}
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if nextPost or previousPost %}
  <ul>
    {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  </ul>
  {%- endif %}
  {%- endif %}
</article>

